<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="getAllUsers" resultType="com.example.domain.User">
        SELECT * FROM users
    </select>

    <select id="getUserById" resultType="com.example.domain.User" parameterType="java.lang.Long">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.example.domain.User">
        INSERT INTO users (username, email) VALUES (#{username}, #{email})
    </insert>

    <update id="updateUser" parameterType="com.example.domain.User">
        UPDATE users SET username = #{username}, email = #{email} WHERE id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Long">
        DELETE FROM users WHERE id = #{id}
    </delete>
</mapper>
